<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yarmatey.messageinabottle">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- PERMISSIONS ! -->
    <permission
        android:name="com.yarmatey.messageinabottle.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yarmatey.messageinabottle.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MessageInABottle"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />

        <provider
            android:name=".sql.BottleProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LogInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".message.MessageActivity"
            android:label="@string/title_activity_message"
            android:parentActivityName=".displays.Inventory"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".displays.Inventory" />
        </activity>
        <activity
            android:name=".displays.Inventory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".displays.Inventory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yarmatey.messageinabottle.displays.Inventory" />
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity android:name=".settings.noLocation"/>
    </application>

</manifest>
